@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;800;900&display=swap);


body {
    font-family: 'Roboto', sans-serif;

}

* {
    transition: all .3s ease;
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 65%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
    margin: auto;
    padding: 20px 20px;
    max-width: 1200px;
}

.header-section {
    background: #F8F8F8;
}

.navbar a {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    line-height: 21.09px;
    padding: 0px 15px;
}

.numbers {
    text-align: right;
}

.numbers p {
    font-size: 18px;
}

.numbers span {
    font-size: 14px;
    color: #7D7D7D;
    font-weight: 400;
    text-align: right;

}

.search-menu-section {
    padding-top: 10px;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-inline: 16px;
}


.search-menu-section .fa-bars {
    font-size: 30px;
    color: #5A5A5A;
    ;
    cursor: pointer;
}

.search-menu-section input {
    width: 300px;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px #0000000D inset;
    background: linear-gradient(98.34deg, #FFFFFF 0%, #FFFFFF 100%);

}

.search-input {
    display: flex;
    width: 400px;

}

.search-input i {
    position: relative;
    right: 30px;
    top: 10px;
    font-weight: 550;
    font-size: 20px;
    cursor: pointer;
}

.search-input input {
    width: 100%;

}

.items-users {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.items-users a {
    color: #FF9900;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;

}

.items-users .items {
    display: flex;
    gap: 20px;
}

.items-users .items ion-icon {
    cursor: pointer;
    color: #5A5A5A;
    font-size: 25px;


}

.search-input input::placeholder {
    color: #7D7D7D;
    min-height: 54px;

}

.home-text ul li {
    list-style: none;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}

.home-text h1 {
    font-family: Jost;
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;


}

.home-text ul li::before {
    content: "•";
    color: red;
    margin-right: 4px;
    width: 1rem;


}

.home-section {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;

    gap: 20px;
    padding-inline: 26px;
    padding-top: 40px;
}

.home-text {
    box-shadow: 0px 0px 10px 0px #0000000D inset;
    border-radius: 60px;
    padding: 40px;
    max-width: 100%;
    max-height: 487px;

}

.home-section .image {
    width: 100%;
}

.home-section .image img {
    max-width: 100%;

}

.btn {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
}

.home-section .home-text a {
    width: 350px;
    height: 53px;
    text-align: center;
    line-height: 53px;
    border-radius: 30px;

}

.whiteBtn {
    box-shadow: 0px 0px 10px 0px #0000000D inset;
    color: #FF9900;
    font-size: 18px;
}

.orangeBtn {
    font-size: 18px;
    background: #FF9900;
    color: white;
}

.products {
    margin-inline: auto;
    max-width: 1200px;
    padding-inline: 16px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.heading {
    font-family: Jost;
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;

}

.sub-heading {
    display: flex;
    padding-inline: 16px;
    align-items: start;

}

.sub-heading span {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 5px;
    margin-left: 30px;
    text-align: left;


}



.products-div {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-top: 20px;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 16px;
}

.products-div .product {
    box-shadow: 0px 0px 10px 0px #0000000D inset;
    border-radius: 30px;
    text-align: center;

}

.products-div .product img {
    padding-top: 20px;
    max-width: 100%;
}

.products-div .product p {
    padding-bottom: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;


    text-align: center;
    color: #000000;
}

.products-sale {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 30px;
    padding-inline: 16px;
}


.products-sale .heading b {
    color: #FF3232;
    font-weight: 400;
}

.products-sale b {
    color: #FF3232;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}

.products-sale .product p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}

.products-sale .product span {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}

.products-sale .product h3 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;

}

.sale-products {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 20px;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 16px;
}

.products-sale .product {
    padding: 15px;
    border-radius: 30px;
}

.products-sale .product {
    overflow: hidden;

}

.products-sale .product .text {
    padding-bottom: 10px;
}

.products-sale img {
    max-width: 100%;
}

.products-sale .product .hello .fa-cart-shopping {
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    color: white;
    cursor: pointer;
    background: #FF9900;
    border-radius: 50%;
    position: relative;
    left: 70px;

}

.products-sale .product .hello {

    text-align: right;
}

.products-sale .product:hover {
    box-shadow: 0px 0px 10px 0px #0000000D inset;

}

.products-sale .product:hover .fa-cart-shopping {

    left: 0px;
}

.shopping-menu-div {
    max-width: 1200px;
    padding-inline: 16px;
    margin-inline: auto;
    margin-top: 50px;
}

.shopping-menu {
    padding-inline: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.shopping-menu .menu {
    border-radius: 30px;
    padding: 20px;
    overflow: hidden;
    margin-top: 40px;

}

.shopping-menu .menu:hover {
    box-shadow: 0px 0px 10px 0px #0000000D inset;
}

.shopping-menu .menu .text {
    padding-top: 10px;
}

.shopping-menu .menu .text p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #5A5A5A;

}

.shopping-menu .menu .text h3 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;

    line-height: 32px;
    text-align: left;
}

.shopping-menu .menu .hello {

    text-align: right;
}

.minus {
    display: flex;
    position: relative;
    top: 20px;
    left: -100px;
    gap: 20px;
}

.minus i {
    border-radius: 5px;
    padding: 1px;
    border: 3px solid #5A5A5A;
    color: #5A5A5A;
    cursor: pointer;
}

.minus p {
    font-size: 14px;
}

.shopping-menu .menu .hello .fa-cart-shopping {
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    color: white;
    cursor: pointer;
    background: #FF9900;
    border-radius: 50%;
    top: -30px;
    position: relative;
    left: 70px;
}

.shopping-menu .menu:hover .fa-cart-shopping {
    left: 0px;
}

.shopping-menu .menu:hover .minus {
    left: 0px;
}

.shopping-menu .menu img {
    max-width: 100%;
}

.famous-menu-div {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 16px;
    margin-top: 50px;
}

.footer-section {
    background: #F8F8F8;
    padding-top: 40px;
    margin-top: 40px;
}

.footer {
    max-width: 1200px;
    margin-inline: auto;

    padding-inline: 16px;
}

.footer .logo {
    margin-inline: auto;
    padding-inline: 16px;
    padding-bottom: 20px;
}

.footer-div {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 50px;
    padding-inline: 16px;

}

.foot-image {
    display: flex;
    align-items: end;

}

.foot-image img {
    padding-bottom: 20px;
}



.footer-div .foot h4 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;

}

.footer-div .foot p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-bottom: 20px;

}

.element-none {
    display: none;
}

.header #menu {
    display: none;
    cursor: pointer;

}

.header #search {
    cursor: pointer;

    display: none;
}

.menu-header {
    position: fixed;
    background: white;
    width: 100%;
    text-align: center;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;



}

.menu-header.active {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}

.menu-header #cancel {
    position: absolute;
    right: 30px;
    cursor: pointer;
    top: 30px;
    font-size: 24px;
}

.menu-header .navbarr {

    list-style: none;
}

.navbarr li a {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    line-height: 21.09px;
    padding: 0px 15px;
}

.navbarr li {

    margin: 15px 0px;
}

.menu-header .numberss {
    text-align: center;
    font-size: 18px;
}

.menu-header .numberss p {
    margin: 10px 0px;
}

.bottom-menu {
    display: none;
    margin-inline: auto;
    gap: 50px;
    box-shadow: 0px 0px 5px 0px #0000001A inset;
    border-radius: 20px 20px 0 0;
    max-width: 100%;
    position: fixed;
    justify-content: space-evenly;
    left: 0;
    padding: 4px;
    right: 0;
    background: #fff;
    bottom: 0;
}

.bottom-menu .menu-tag {
    text-align: center;
    cursor: pointer;
}

.bottom-menu .menu-tag i {
    font-size: 30px;
}

.bottom-menu .menu-tag ion-icon {
    font-size: 30px;
    cursor: pointer;
}
.loader-container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    background: #fff;
    z-index: 1200;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
 }
 .loader-container img{
    max-width: 400px;
 }
 .loader-container.fade-out{
    top: 110%;
    opacity: 0;
 }
  
@media screen and (max-width:1310px) {
    .header .navbar a {
        font-size: 14px;
    }

    .logo img {
        max-width: 100%;
    }

    .numbers p {
        font-size: 14px;
    }



    .home-section {
        max-width: 1000px;
    }

    .home-text h1 {
        font-size: 30px;
    }

    .home-text ul li {
        font-size: 12px;
    }

    .home-section .btn a {
        width: 233px;
        height: 36px;
        line-height: 36px;
        font-size: 12px;
    }

    .home-text {
        text-align: center;
        padding-top: 20px;
        padding-left: 30px;
    }


}

@media screen and (max-width:1123px) {
    .element-none {
        display: block;
    }
}

@media screen and (max-width:1024px) {
    .heading {
        font-size: 24px;
    }

    html {
        font-size: 55%;
    }

    .sub-heading span {
        font-size: 12px;
        margin-left: 6px;
    }

    .shopping-menu .menu .hello .fa-cart-shopping {
        left: 0;
    }

    .shopping-menu .menu .hello .minus {
        left: 0;
    }

    .products-sale .product .hello .fa-cart-shopping {
        left: 0;
    }
    .products-sale .product {
        box-shadow: 0px 0px 10px 0px #0000000D inset;
    
    }
    .shopping-menu .menu {
        box-shadow: 0px 0px 10px 0px #0000000D inset;
    }
    
    



}

@media screen and (max-width:910px) {
    .home-section {

        display: block;
    }

    .home-text {
        max-width: 100%;
        max-height: auto;
        margin-bottom: 20px;
    }

    .home-section .image img {
        min-width: 100%;
    }

    .home-section .image {
        min-width: 100%;
    }
}


@media screen and (max-width:849px) {
    .bottom-menu {
        display: flex;
        gap: 40px;
    }

    .footer-section {
        padding-bottom: 40px;
    }

    .search-menu-section {
        display: none;
    }

    .products-div .product p {
        font-size: 12px;
    }

    .sale-products .product p {
        font-size: 12px;

    }

    .sale-products .product h3 {
        font-size: 18px;
    }

    .sale-products .product b {
        font-size: 12px;
    }

    .navbar {
        display: none;
    }

    .shopping-menu .menu .text p {
        font-size: 12px;
    }

    .shopping-menu .menu .text h3 {
        font-size: 18px;
        padding-top: 4px;
    }


    .header-section .numbers {
        display: none;
    }

    .header-section {
        border-radius: 0 0 30px 30px;
    }


    .header #menu {
        display: block;
        font-size: 20px;
    }

    .header {
        padding: 10px;
        padding-inline: 15px;
    }

    .header #search {
        display: block;
        font-size: 24px;
    }
}

@media screen and (max-width:490px) {
    .products-div {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

}

@media screen and (max-width:585px) {
    .btn {
        display: flex;
        flex-wrap: nowrap;
        font-size: 10px;
    }

    .btn a.orangeBtn {
        font-size: 10px;
    }

    .btn a.whiteBtn {
        font-size: 10px;
    }

    .home-text ul li {
        font-size: 12px;
    }

}

@media screen and (max-width:440px) {
    .home-text h1 {
        font-size: 24px;
    }

    h2.heading {
        font-size: 18px;
    }

    .sub-heading span {
        display: none;
    }

}

@media screen and (max-width:370px) {
    .btn {
        flex-wrap: wrap;
    }


}